body {
    background-image: url('/NiceBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  font-size: 5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}